@font-face {
  font-family: 'Merriweather_circle';
  src: url('Merriweather-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather_circle';
  src: url('Merriweather-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather_circle';
  src: url('Merriweather-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather_circle';
  src: url('Merriweather-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather_circle';
  src: url('Merriweather-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather_circle';
  src: url('Merriweather-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik_kubik';
  src: url('Rubik-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik_kubik';
  src: url('Rubik-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik_kubik';
  src: url('Rubik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik_kubik';
  src: url('Rubik-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik_kubik';
  src: url('Rubik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik_kubik';
  src: url('Rubik-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
