@font-face {
  font-family: 'Open Sans_my';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('../fonts/opensans_bold.woff2') format('woff2'),
       url('../fonts/opensans_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Open Sans_my', Arial, sans-serif;
}
