body,
.demo-table {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.demo-table--serif {
  font-family: Georgia, serif;
}


.wf-rubikkubik-n4-active body,
.wf-rubikkubik-n4-active .demo-table {
  font-family: Rubik_kubik, Arial, sans-serif;
}

.wf-merriweathercircle-n7-active h1,
.wf-merriweathercircle-n7-active h2,
.wf-merriweathercircle-n7-active h3,
.wf-merriweathercircle-n7-active h4,
.wf-merriweathercircle-n7-active h5,
.wf-merriweathercircle-n7-active h6,
.wf-merriweathercircle-n7-active .demo-table--serif {
  font-family: Merriweather_circle, Georgia, serif;
  font-weight: 700;
}
